<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.shipment.ShipmentMainMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="findPage" resultType="com.kaifantech.entity.ShipmentMainFormMap">
		select *
		from kf_csy_daj_wms.wms_shipment_request_main
		where 1 = 1
		and delflag = 0
		<if test="paperid != null and paperid != ''">
		and paperid = '${paperid}'
		</if>
		<if test="id != null and id != ''">
		and id = '${id}'
		</if>
		<if test="status != null and status != ''">
		and status = '${status}'
		</if>
		<if test="name != null and name != ''">
		and name = '${name}'
		</if>
		order by updatetime desc
	</select>

	<select id="findAllToIFS" resultType="com.kaifantech.bean.wms.paper.shipment.ShipmentMainBean">
		SELECT *
		FROM kf_csy_daj_wms.wms_shipment_request_main
		WHERE(createtime> date_sub(NOW(), INTERVAL 2 DAY) OR updatetime> date_sub(NOW(), INTERVAL 2 DAY))
	</select>

	<select id="find" resultType="com.kaifantech.bean.wms.paper.shipment.ShipmentMainBean">
		select *
		from kf_csy_daj_wms.wms_shipment_request_main
		where 1 = 1
		and delflag = 0
		<if test="paperid != null and paperid != ''">
		and paperid like '${paperid}%'
		</if>
		<if test="id != null and id != ''">
		and id = '${id}'
		</if>
		<if test="status != null and status != ''">
		and status = '${status}'
		</if>
		order by createtime
	</select>

	<insert id="add">
		insert into `kf_csy_daj_wms`.`wms_shipment_request_main` (
		  `company`,
		  `warehouse`,
		  `totalqty`,
		  `totallines`,
		  `paperid`,
		  `tordercode`,
		  `shipmenttype`,
		  `carrier`,
		  `name`,
		  `cusstomername`,
		  `cusstomerid`,
		  `ordertype`,
		  `itemstatus`,
		  `postcode`,
		  `phone`,
		  `mobile`,
		  `state`,
		  `city`,
		  `district`,
		  `address`,
		  `isfree`,
		  `keepamount`,
		  `area`,
		  `shipdate`,
		  `cod`,
		  `codvalue`,
		  `invoice`,
		  `invoiceamount`,
		  `invoicetype`,
		  `invoicename`,
		  `invoicecontent`,
		  `shopname`,
		  `remark`,
		  `status`
		) 
		values
		  (
		    '${company}',
		    '${warehouse}',
		    '${totalqty}',
		    '${totallines}',
		    '${paperid}',
		    '${tordercode}',
		    '${shipmenttype}',
		    '${carrier}',
		    '${name}',
		    '${cusstomername}',
		    '${cusstomerid}',
		    '${ordertype}',
		    '${itemstatus}',
		    '${postcode}',
		    '${phone}',
		    '${mobile}',
		    '${state}',
		    '${city}',
		    '${district}',
		    '${address}',
		    '${isfree}',
		    '${keepamount}',
		    '${area}',
		    null,
		    '${cod}',
		    '${codvalue}',
		    '${invoice}',
		    '${invoiceamount}',
		    '${invoicetype}',
		    '${invoicename}',
		    '${invoicecontent}',
		    '${shopname}',
		    '${remark}',
		    '${status}'
		  ) 
	</insert>
</mapper>