<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifantech.mappings.AllocItemMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="findPage" resultType="com.kaifantech.entity.AllocItemFormMap">
		SELECT 
		  a.*,
		  b.sitename,
		  c.armactname 
		FROM
		  kf_csy_daj_wms.allocation_item_info a 
		  LEFT JOIN kf_csy_daj_agv.task_site_info b 
		    ON a.`siteid` = b.id 
		  LEFT JOIN kf_csy_daj_agv.task_armact_info c 
		    ON a.`armactid` = c.id 
		WHERE 1 = 1 
		<if test="text != null and text != ''">
		and text like '%${text}%'
		</if>
		<if test="inStock != null and inStock != '' and inStock == 'true'">
		and num > 0
		</if>
		<if test="delflag != null and delflag != ''">
		and a.delflag = '${delflag}'
		</if>
		order by a.id
	</select>

	<select id="findFirstPage" resultType="com.kaifantech.entity.AllocItemFormMap">
		select *
		from kf_csy_daj_wms.allocation_item_info
		where 1 = 1
		and delflag = 0
		<if test="text != null and text != ''">
		and text like '%${text}%'
		</if>
		order by a.id
	</select>

	<insert id="add">
		INSERT INTO `kf_csy_daj_wms`.`allocation_item_info` (
		  `environment`,
		  `areaId`,
		  `colId`,
		  `rowId`,
		  `zId`,
		  `columnId`,
		  `status`,
		  `skuId`,
		  `num`,
		  `text`
		) 
		VALUES
		  (
		   '${environment}',
		   '${areaId}',
		   '${colId}',
		   '${rowId}',
		   '${zId}',
		   '${columnId}',
		   '${status}',
		   '${skuId}',
		   '${num}',
		   '${text}'
		  )
	</insert>
</mapper>