<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaifantech.mappings.ErpDepositMainMapper">
	<sql id="searchId">
		  dm.innerno,
		  dm.reservno,
		  dm.deposittime,
		  dm.ownid,
		  dc.amount
	</sql>
	<select id="findDepositMainPage" resultType="com.kaifantech.entity.TaskFormMap">
		select
		<include refid="searchId" />
		FROM
			deposit_main dm
		LEFT JOIN deposit_class dc ON dc.depositid = dm.id
		WHERE
			1=1
		<if test="reservno != null and reservno != ''">
			and dm.reservno = '${reservno}'
		</if>
		<if test="innerno != null and innerno != ''">
			and dm.innerno = '${innerno}'
		</if>
	</select>
</mapper>